{{#if message.msg_success }}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message.msg_success }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}

{{#if message.msg_error }}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message.msg_error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}