<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> navbar}}

    <div class="container mt-3">
        {{> message}}
        <form id="addProduct" method="POST" action="/admin/add-product" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <h5>Create new product</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Name <span class="text-danger">(*)</span></label>
                        <input class="form-control" type="text" id="name" name="name" placeholder="Enter Product name" />
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="price">Price (VND) <span class="text-danger">(*)</span></label>
                                <input class="form-control" type="number" id="price" name="price" placeholder="Enter Price" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="quantity">Quantity <span class="text-danger">(*)</span></label>
                                <input class="form-control" type="number" id="quantity" name="quantity" placeholder="Enter Quantity" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input class="form-control-file" type="file" name="image" accept="image/*">
                    </div>
                    <div class="form-group">
                        <label for="description">Description <span class="text-danger">(*)</span></label>
                        <textarea class="form-control" rows="5" id="description" name="description" placeholder="Enter Description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
    
    <script src="/js/validator-product.js"></script>
</body>


</html>